/GuardaDatos/build/
/JuegoDeCartas/dist/
/BaseJuegoCartas/build/
/BaseJuegoCartas/nbproject/private/
/DiccionarioV2/build/
/DiccionarioV2/dist/
/DiccionarioV2/nbproject/private/
/EjercicioJuego/nbproject/private/
/JConga/build/
/JConga/dist/
/JConga/nbproject/private/
/Ventanitas/build/
/Ventanitas/dist/
/Ventanitas/nbproject/private/